@use './partials/typography' as *;
@use './partials/variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: $nasa-white;
}

main {
    padding: 2vw 4vw;
}

.main-background {
    background-image: url('../assets/backgrounds/galaxy-background.png');
    background-position: center;
    background-size: cover;
}